* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16rem;
    box-sizing: border-box;
}

.container {
    background-image: url("../src/background.png");
    background-size: cover;
    background-position: center;
}

.blur-overlay {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex {
    width: 25%;
    height: 80%;
    background-color: #D2232A;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 0px 0px 20px 0px black;
}

.pokedex-header {
    display: flex;
    width: 100%;
    height: 15%;
}

.buttons {
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
}

.button {
    width: 80px;
    height: 80px;
    background-color: #00AEEF;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: 0px 0px 0px 10px white;
    margin-left: 20px;
}

.button:nth-child(2) {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: none;
}

.button:nth-child(3) {
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: none;
}

.button:nth-child(4) {
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: none;
}

.line {
    width: 100%;
    height: 15px;
    background-color: #B0282F;
    border: 3px solid black;
    margin-top: 10px;
    border-left: 0px;
    border-right: 0px;
}

.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 80%;
    padding-top: 20px;
    flex-direction: column;
}

.outside-display {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 90%;
    background-color: #F1F2F2;
    border-radius: 15px 15px 15px 90px;
    border: 3px solid black;
    box-shadow: 0px 0px 10px 5px #AE282E;
}

.header-outside-display {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-outside-display-buttons {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50px;
    border: 1px solid black;
    margin-right: 20px;
}

.display {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.content-display {
    height: 80%;
    width: 90%;
    border-radius: 5px;
    border: 5px solid #BBBBBB;
    transition: background-color 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}

.under-display {
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-between;
}

.under-display-button {
    width: 50px;
    height: 50px;
    background-color: #ED1C24;
    border-radius: 50px;
    border: 3px solid black;
    margin-left: 50px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 0px black;
}

.exit {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exit-sounds {
    width: 80px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    margin-top: 8px;
    margin-right: 20px;
}

.control-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 12%;
}

.control-button {
    width: 70px;
    height: 70px;
    background-color: #58595B;
    border-radius: 50px;
    margin: 5px 20px 5px 35px;
    box-shadow: 0px 0px 10px 0px black;
    border: 3px solid black;
}

.rb-buttons {
    width: 70px;
    height: 20px;
    background-color: #00A79D;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 20px;
}

.rb-buttons:nth-child(2) {
    width: 70px;
    height: 20px;
    background-color: #ED1C24;
    border: 3px solid black;
    margin-top: 30px;
}

.under-buttons {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    padding-left: 110px;
}

.green-screen {
    width: 150px;
    height: 90px;
    background-color: #39B54A;
    border-radius: 10px;
    border: 2px solid black;
    margin-right: 5px;
}

.arrow-controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -60px;
    margin-right: -5px;
}

.up-and-down-arrow {
    display: flex;
    flex-direction: column;
}

.up-arrow-control{
    height: 90px;
    width: 40px;
    background-color: black;
    border-radius: 10px 10px 0px 0px;
}

.left-arrow-control {
    height: 40px;
    width: 50px;
    background-color: black;
    border-radius: 10px 0px 0px 10px;
}

.right-arrow-control {
    height: 40px;
    width: 50px;
    background-color: black;
    border-radius: 0px 10px 10px 0px;
}

.down-arrow-control {
    height: 50px;
    width: 40px;
    background-color: black;
    border-radius: 0px 0px 10px 10px;
}

.pokemon {
    position: absolute;
    width: 200px;
    display: none;
}


@media only screen and (max-width: 600px) {

}










